:root{
    --border-color: #EFF0EF;
    --cell-background:#F5F6F5;
    --active-cell:#2ecc71;
    --cell-selected:#E5E6E5;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: .85rem;
}

.menu-options{
    height:30px;
    background-color: whitesmoke;
    border-bottom: 0.1px solid var(--border-color);
}

.address-content{
    display: flex;
    height: 20px;
}

.cells-content{
    height: calc(100vh - 90px);
    overflow: auto;
    position: relative;
}

.sheets{
    display: flex;
    border-top:  0.1px solid var(--border-color);
    height: 37px;
    background-color: whitesmoke;
    align-items: center;
}

.row{
    display: flex;
}

.cell{
    border-left: 0.1px solid var(--border-color);
    border-bottom: 0.1px solid var(--border-color);
    min-height: 20px;
    width: 90px;
    outline :none;
}

.top-left-cell{
    border-right: 0.1px solid var(--border-color);
    height: 20px;
    width: 40px;
    background:var(--cell-background);
    position: absolute;
    z-index: 3;
    border-bottom: 0.1px solid var(--border-color);
}

.top-row{
    position: absolute;
    display: flex;
    background:var(--cell-background);
    left: 40px;
    top:0px;
    z-index: 2;
}

.top-row-cell{
    border-left: 0.1px solid var(--border-color);
    border-bottom: 0.1px solid var(--border-color);
    min-height: 20px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col{
    background:var(--cell-background);
    position: absolute;
    left:0px;
    top:20px;
    z-index: 2;
}

.left-col-cell{
    height: 20px;
    width: 40px;
    border-bottom: 0.1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    position: absolute;
    top:20px;
    left:40px;
}

#address{
    width: 50px;
    border: none;
    text-align: center;
}

#formula{
    width: 100%;
    border: none;
    outline: none;
    border-left: .1px solid var(--border-color);
    padding: 5px;
}

.add-sheet{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--border-color);
    color:var(--active-cell)
}

.sheets-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.sheet{
    border-right: 0.5px solid var(--border-color);
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
}

.active-sheet{
    background-color: white;
    font-weight: bold;
}

.font-style{
    display: flex;
    width: 150px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid lightgray;
}

.font-style div{
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.font-style div:hover{
    background:darkgrey;
    opacity: .5;
}

.active-font-style{
    background:darkgrey;
}

.active-cell{
    border: 2px solid var(--active-cell);
}

.cell-selected{
    background: lightgrey;
}